html,body,ul,li {
    padding: 0;
    margin: 0;
    top: 0;
}

body {
    text-align: center;
    background-color: #e6e9ee;
    color: #411125;
    font-family: helvetica,arial,sans-serif;
    font-size: 1.25em;
    position: relative;
}

td {
    text-align: center;
    margin: 0;
    vertical-align: middle;
    width: auto;
}

label, .labelContent {
    display: inherit;
    text-align: left;
    font-weight: 600;
}


table{
background: white;

}
th{
    background: #FFEBBF;
}


input[type=radio].css-checkbox {
                            position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
                            
                        }

                        input[type=radio].css-checkbox + label.css-label {
                            padding-left:55px;
                            margin: 10px 20px;
                            height:30px; 
                            display:inline-block;
                           color: #4BA041;
                           font-family:'Times New Roman','arial',sans-serif;
                            background-repeat:no-repeat;
                            background-position: 0 0;
                            font-size:20px;
                            vertical-align:middle;
                            cursor:pointer;
                            background-size: 30px;
                            text-align:left;

                        }

                        input[type=radio].css-checkbox:checked + label.css-label {
                            background-position: 0 -30px;
                        }
                        label.css-label {
                background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_2b083af82f95041b90466f597b3634fc.png);
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }


  /*Positions*/

.rightPosition {
    float: right;
}

/* Buttons*/
input[type="submit"][value="iedit"],
  input[type="submit"][value="idelete"],
  input[type="button"][value="idelete"] {
    width: 35%;
    height: 30px;
    margin: 0;
    border: 0;
    text-indent: -1000em;
    margin: 7 0;
}

input[type="submit"][value="iedit"] {
    background: url(../img/iedit.png) no-repeat  center top;
}

input[type="submit"][value="idelete"],
input[type="button"][value="idelete"] {
    background: transparent url(../img/idelete.png) no-repeat  center top;
}

.submitButton {
    margin: 5px;
    background: #F99700;
    color: white;
    padding: 8px;
    border: 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

#submitLogin{

    background: #23BE72;
}


/* unvisited link */
a:link,a:visited, a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #0d7700;
    text-decoration: none;
}

/*Header*/

.previewHeader {
    text-align: right;
    background-color: #333333;
    background: #333333;
    background-size: cover;
    color: white;
    font-size: 0.9em;
    height: 150px;
    z-index: 100;
    line-height: 65px;
    padding: 0px;
    margin-bottom: 1px;
}

#logoHeader {
    float: left;
    padding: 5px 30px;
    margin-top: 10px;
}

.liClass {
    display: inline;
    padding: 5px 30px;
    margin-top: 10px;
}

.navHeader {
    padding: 0px;
    margin: 0px;
}


/*Left Panel */

/*.leftPanel {
    width: 15%;
    float: left;
    border-top: 0;
    margin-right: 0;
    margin: 60px 0 0px 0;
    font-size: 0.8em;
    font-weight:600;
    min-height: 10px;
    //border: 1px solid #e7e7e7;
    position: relative;
    background: #68B068;
    background-size: cover;
    -webkit-border-radius: 0  0px 8px 0;
    -moz-border-radius: 0  0px 8px 0;
    border-radius: 0  0px 8px 0;
}*/

/*.leftMenu {
    width: 100%;
}*/

.leftMenu ul {
  /*  min-height: 10px;
    list-style-type: none;
    margin: 10px 0;
    padding: 0;*/
     text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.leftMenu ul li{
    width:10%;
 font: bold 20px sans-serif;
color:white;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #70eb66;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;

}

.leftMenu > ul > li span{
position: relative;
  margin-left: 50%;


}
.leftMenu > ul > li ul li span {
 margin-left: 2%;
    }

.leftMenu ul li ul{
padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;


}

.leftMenu ul li ul li {

    width:100%;
  background: #0c9c00; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

.leftMenu li {
   /* float: left;
    min-width: 100%;
    display: list-item;*/
font: bold 1em sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.leftPanelLi > a {
    /*display: block;
    height: inherit;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 30px 0;
    text-align: center;*/
}

.leftPanelLi:hover {
    /*background: #ddd;
    color: #222;
    //height: inherit;
    width: 100%;
    //display: inline-block;
    //padding: 30px 0;*/

     background: #555;
  color: #fff;
}

.leftMenu ul li ul li:hover { background: #555; }
.leftMenu ul li:hover ul {
    width:100%;
  display: block;
  opacity: 1;
  visibility: visible;
  z-index: 3;

}

.leftPIcon {

    display: inline-block;
    position: absolute;
    -webkit-filter: sepia(100%);
    
}


    /*Forms */

.boxContainer {
    position: relative;
    background-color: #F7F7F7;
    padding: 25px 45px 45px 45px;
    border-left: 0 solid #e1e3e8;
    border-right: 0 solid #e1e3e8;
    border-bottom: 0 solid #e1e3e8;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/*add the margin container when using box container */
.marginContainer {
    margin: 0 auto;
}

.largeContainer {
    //min-width: 65%;
    margin: 10% 28%;
}

.alertWarning {
    min-width: 35%;
    background-color: #f2dede;
    color: #a94442;
    padding: 10px;
    margin: 5% 38%;
    border-left: 0 solid #e1e3e8;
    border-right: 0 solid #e1e3e8;
    border-bottom: 0 solid #e1e3e8;
    border: 1px solid #ebccd1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inputContent {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #c2c2c2;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.selectContent {
    border: 1px solid #e2e2e4;
    box-shadow: none;
    color: #c2c2c2;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.tableClass {
    min-width: 300px;
    width: 99%;
}

.tableRowHeader,.tableRow {
    border: 2px solid #e1e3e8;
}

.tableClass td {
    width: auto;
}

.menuExpandCollapse {
    float: left;
    width: 20px;
    min-height: 15px;
    margin: 60px 0 0px 0;
    -webkit-border-radius: 0  8px 8px 0;
    -moz-border-radius: 0  8px 8px 0;
    border-radius: 0  8px 8px 0;
    background: #68B068;
}

.content {
    width: 80%;
    float: left;
    position: relative;
    top: 20%;
    left: 5%;
  /* bring your own prefixes */
    transform: translate(-5%, -20%);
}


/*ORDERS*/

.verticalLine {
    border-right: 1px solid #000;
}

.ordersTables {
    width: 16%;
    float: left;
    min-height: 800px;
}

.ordersDetails {
    width: 47%;
    float: left;
    min-height: 800px;
}

.ordersProducts {
    width: 36%;
    float: left;
    min-height: 800px;
}

.orderDetailsTable{
    width: 92%;
    margin: 15px 20px;
    border: 2px solid;
    border-color: rgb(147, 147, 147);
}

.orderDetailsTable tr{
    border-bottom: 1px solid #000;
} 

.orderDetailsTable thead th,
.orderDetailsTable tbody td{
    text-align: left;

    padding: 10px;
}

.orderDetailsTable thead th{
    background: rgb(205, 247, 205);

}
.orderDetailsTable tbody td{
   background:White;

   font-family: "Times New Roman",sans-serif;
   font-size: 1.2em;
}

.orderDetailsTableNumber{
    text-align: right !important;
}

.orderTableButton{
    width: 100%;
    padding: 3px;
    border: none;
    color:white;
    font-family:cursive;
    background-color: rgb(0, 163, 163);
    margin: 3px 0;
}

.customerNumber{
    display:inline;
    width: 70%;

    margin-left: 8%;
}

.payButton{

    background:#0075F9;
}

.addProductButton{

    background:rgb(245, 65, 41);
}

.orderProductsList{
    margin-top:20px;
    text-align: left;
}

.productQuantity{
    width: 22%;
    font-size: 19px;
    margin:5% 2% 0 5%;
    display:inline-block;
}

.chair{
    width: 31%;
    font-size: 18px;
    display:inline-block;

}

.totalOrder{

    font-weight: 900;
    background: #90FCBA;
}